* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.app-title {
    text-align:center;
    font-size: 5rem;
    margin-top: 30px;
    margin-bottom: 20px;
    color:mediumblue;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
  }

.page-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 20px;
}  

body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color:aliceblue;
    background-image:url('../images/quizApp background.jpg');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


.auth-wrapper{
    background-color:antiquewhite;
    border-radius: 8px;
    box-shadow:#0e1297;
    width: 300px;
    padding: 35px;
    text-align: center;
}

button{
    padding: 10px 20px;
    border: navy;
    background-color: blue;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}
button:hover {
    background-color:darkcyan;
}

/* Style for active tab */
button.active {
    background-color:blue;
    color:antiquewhite;
}

/* Form container for Login and Register forms */
.form-container, .register-container {
    display: none;
}

#Login-Form {
    display: block;
}

input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #0e1297;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 12px;
    margin-top: 10px;
    background-color:blue;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

/* Style for Register form */
.register-container {
    display: none;
}

#Register-Form {
    display:none;
}

/* Media Queries for responsiveness */
@media (max-width: 600px) {
    .auth-wrapper {
        width: 80%;
    }
}
